body{
	padding: 0;
    margin: 0;
    
    
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}


.button{
	height: 38px;
	border: none;
	color: white;
	padding-right: 20px;
	padding-left: 20px;
	background-color: red;
}




hr{
	width: 80%;
	margin: auto;
}



/*---Header---*/
header{
	min-height: 70px;
	padding-top: 30px;
	
	background-color: #14227c;
}

header input[type='text']{
	height: 38px;
	width: 300px;
	border: none;
}



header h1{
	float: left;
	font-family: Broadway;
	color: white;
	font-size: 2.5em;
	margin: 0;
}

header a{
	text-decoration: none;
	color: white;
	font-size: 20px;
}
header li{
	display: inline;
	padding: 0 20px 0 20px;
	float: left;
    

}

header ul{
	float: right;
	padding: 0;
	margin: 0;
	
	
}

/*---Header*---/


<!-------------------------------------------------------->


/*<nav>*/

nav {
	background: #242323;
	overflow: hidden;
	
	
}

nav a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	padding: 30px;
	margin-top: 5px;
    
}

nav ul{
	float: left;
	padding-left: 90px;
	

}

nav li{
	display: inline;
	padding: 0;
    margin-bottom: 4px;
}


/*<Showcase>*/

#showcase1{
	min-height: 350px;
	text-align: center;
	margin-bottom: 50px;
	background: url(../images/mountain.jpg) ;
	background-size: 100% 100%;

}

#showcase1_1{
	width: 700px;
	height: 400px;
	background: url(../images/startup.jpg) ;
	background-size: 100% 100%;
	position: relative;
	top: 130px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 200px;
   
}

/*</Showcase>*/


/*---Section1---*/
#section1_1 {
	width: 80%;
	margin: auto;
	

}

#section1_1 p{
	padding: 20px;
}

/*<webGrids>*/


#webGrids{
	width: 80%;
	margin: auto;
	margin-top: 20px;
	overflow: hidden;
	

}

.webGrid{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
	
}

div	video{
	margin:20px;
	position: relative;
	left: 12%;
}

.Grid1{
	width: 80%;
	margin: auto;
	margin-top: 40px;
	grid-column-gap: 2em;
	display: grid;
	grid-template-columns: 30% 70%;
	overflow: hidden;
	
}

.Grid1 p:nth-child(odd){
	background: #ddd;
	
}

.Grid1 p{
	
	
	padding: 20px;
	
}

#showcase2{
	min-height: 450px;
	background: url(../images/tech.jpg);
	background-size: 100% 100%;
	text-align: center;

}

#section2 .flexGrid{
	width: 80%;
	margin: auto;
	margin-top: 40px;
	grid-column-gap: 2em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	overflow: hidden;
}

#section2 form{
	width: 80%;
	margin:auto;
	margin-top: 20px;
	color: white;
	background-color: #3d3e43;
	min-height: 300px;
}

#section2 input[type="text"],[type="email"],[type="password"]{
	height: 38px;
	width: 300px;
	border: none;

}

#section2 select{
	height: 38px;
	width: 150px;
	border: none;
}

#section2 form > div{
	padding: 20px;

}

#section2 label{
   display: block;

}

.choosers{
	display: grid;
	grid-template-columns: 1fr 1fr;

}

form h3{
	text-align: center;
	position: relative;
	top: 20px;
}

form input[type='submit']{
	height: 35px;
	width: 80px;
	border: none;
	background-color: #242323;
	color: white;
	position: relative;
	left: 490px;
	margin-bottom: 20px;
}

footer{
	min-height: 200px;
	background: #212224;
	text-align: center;
	color: white;
}

footer p{
	padding-top: 40px;
}

